html {
    font-family: monospace, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    background-color: lightyellow;
    color: #333;
}
.tit {  
    color: rebeccapurple; 
    font-size: 2.5em; 
    text-align: center;
    text-decoration: underline;
}
p {
    text-indent: 40px;
}
p::firts-letter {
    font-size: 2em;
    color: rebeccapurple;
}
figure {
    text-align: center;
    border-radius: 5px;
}
table {
    text-align: center;
    border:solid 2px #333;
    border-collapse: collapse;
    width: 100%;
}
table caption {
    font-size: 1.5em;
    margin: 10px;
    color: black;
}
table thead {
    font-weight: bold;
}
table tfoot {
    font-size: 0.9em;
    color: black;
    text-align: left;
}
.ppessoal {
    color: lightblue;
}

footer {
    font-size: 11px;
}
